:host {
  display: block;
}

.app-wrapper {
  margin: auto;
  width: 300px;
}

.app-title {
  margin-block: 0;
}

.app-search {
  display: block;
  margin-block: 30px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #001719;
  border-radius: 5px;
  font-size: 16px;
  color: #001719;
  background-color: #f9f9f9;
}

.app-search::placeholder {
  color: #001719;
  opacity: 0.5;
}

@media (width >=576px) {
  .app-wrapper {
    width: 546px;
  }
}

@media (width >=768px) {
  .app-wrapper {
    width: 738px;
  }
}

@media (width >=992px) {
  .app-wrapper {
    width: 962px;
  }
}

@media (width >=1200px) {
  .app-wrapper {
    width: 1170px;
  }
}

@media (width >=1440px) {
  .app-wrapper {
    width: 1410px;
  }
}
