:host {
  display: block;
  margin-block: 0;
}

.app-image {
  width: 150px;
  height: auto;
}

.app-release-year {
  margin-block: 5px;
}

.app-list-genre {
  margin-block: 5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.app-genre {
  list-style: none;
  padding: 5px;
  background-color: #0289958c;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.app-description {
  margin-block: 5px;
  font-size: 13px;
}

.app-rating {
  margin-block: 5px;
}
