:host {
  display: block;
}

.app-list-genre {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.app-genre {
  list-style: none;
  padding: 5px;
  background-color: #0289958c;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
