:host {
  display: block;
}

.app-list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;

  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
