@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

:root {
  --main-color: #001719;
  --secondary-color: #dce5fe;
}

html {
  height: 100%;
  background-color: var(--main-color);
  font-family: "Tektur", sans-serif;
  color: var(--secondary-color);
}

body {
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit
}
